bg = #8FC31F #FFF100 #E60012 #FFF100 #E60012 #8FC31F #E60012 #8FC31F #FFF100 purple
n = 10

.controller
  position relative
  text-align center
  margin 10px
  button
    line-height 30px
  .num
    width 30px

#roulette
  margin-top 30px
  margin-bottom 30px
  margin-left auto
  margin-right auto
  position relative
  -webkit-animation-timing-function cubic-bezier(0,.4,.4,1.04)
  -webkit-animation-duration 1.8s
  -webkit-animation-fill-mode forwards
  -webkit-animation-iteration-count 1
  width 308px
  height 308px
  border-radius 50%
  overflow hidden
  counter-reset num
  for i in (1..n)
    &.number-{i}
      -webkit-animation-name 'number-' + i
  &::after
    content ""
    display block
    width w = 80px
    height w
    background-color #fff
    border-radius 50%
    margin auto
    top 0
    right 0
    bottom 0
    left 0
    position absolute
  li
    top 0
    right 0
    left 0
    margin auto
    position absolute
    display block
    width 100px
    height 154px
    transform-origin 50px 154px
    &::before
      top 0
      left 0
      position absolute
      display inline-block
      content ""
      width 0
      height 0
      border-style solid
      border-width 154px 50px
      z-index 0
    &::after
      counter-increment num
      content counter(num)
      z-index 5
      position absolute
      display block
      width 100px
      text-align center
      line-height 40px
      font-size 20px
      color #fff
      font-weight bold
    for c, i in bg
      &:nth-of-type({i+1})
        transform rotate((i+1) * (360/n)deg)
        &::before
          border-color c transparent transparent

for d in (1..n)
	@keyframes number-{d}
		from
			transform rotate(0)
		to
			transform rotate((360 * (n - 1) - (360/n) * d)deg)
